name: Agents Helm Chart
run-name: Running pipeline for ${{ github.actor }}`s push
on:
  push:
    paths:
      - '**/*.yaml'
      - '**/*.yml'
      - '.github/workflows/chart.yml'
jobs:
  helm-chart:
    name: Build and Push Helm chart
    if: github.ref == 'refs/heads/main' || contains(github.ref, 'refs/tags')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Push Helm chart to OCI compatible registry (Github)
        uses: bsord/helm-push@v4.1.0
        with:
          useOCIRegistry: true
          registry-url:  oci://ghcr.io/${{ github.repository }}/charts
          username: zigelboim.misha@gmail.com
          access-token: ${{ secrets.GITHUB_TOKEN }}
          force: true
          chart-folder: "."
